<table border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        <tr>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
        </tr>
    {{/clients}}
    </tbody>
</table>